/* Additional CSS added to template post download */

/* Portfolio Page CSS */
.row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Creating two equal columns for current projects section  */
  .currentColumn {
    float:left;
    width: 49%;
    margin-left: .5%;
    margin-right: .5%;
  }

  /* Creating three equal columns for Top projects section  */
  .topColumn {
    float:left;
    width: 32%;
    margin-left: .5%;
    margin-right: .5%;
  }

  /* Create four equal columns that floats next to each other */
  .otherColumn {
    float: left;
    width: 24%;
    margin-left: .5%;
    margin-right: .5%;
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* outline */
  .outline {
    outline-style: auto;
    outline-width: 2px;
    outline-color: grey;
    padding: 10px;
  }
 
.cardTitle {
    text-align: center;
}

.portfoliop { 
  text-indent: 20px;
  margin-left: 7px;
  flex-grow: 1; /* NEW: Allows text area to fill vertical space */
}

.currentButtonCentered {
  margin-left: 28%;
}

.topButtonCentered {
  display: flex;
  justify-content: center;
}

.otherButtonCentered {
  display: flex;
  justify-content: center;
}

.cardImg {
  width: 95%;
  max-height: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
}

.introPic {
    max-width: 200px;
    max-height: 275px;
    border-radius: 4px;
    float: left;
    margin-right: 10px
}

.aboutMe {
    padding-left: 20px;
}

/* NEW: Rules for Equal Height and Column Flexbox */
.currentColumn,
.topColumn,
.otherColumn {
  /* Enforce a minimum height for uniformity across different sections */
  min-height: 400px; /* Adjust this value as needed for your content */
  /* Use flexbox to organize content vertically within the box */
  display: flex;
  flex-direction: column;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1200px) {

  .currentButtonCentered, .topButtonCentered, .otherButtonCentered{
    display: flex;
      flex-direction: column;  
      justify-content: space-evenly; 
      
  }

}
@media screen and (max-width: 900px) {
  .currentColumn, .topColumn, .otherColumn {
    width: 50%;
   }
  .currentButtonCentered, .topButtonCentered, .otherButtonCentered{
    display: flex;
      flex-direction: column;  
      justify-content: space-evenly; 
      
  }
  .portfoliop { 
    text-indent: 10px;
    margin-left: 5px;
    flex-grow: 1; /* NEW: Added flex-grow to responsive rules */
  }
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .currentColumn, .topColumn, .otherColumn {
    width: 100%;
    }
  .rHeader {
    font-size: 80%;
  }
  .currentButtonCentered, .topButtonCentered, .otherButtonCentered{
    display: flex;
    flex-direction: column;  
    justify-content: space-evenly;  
      
  }
  .portfoliop { 
    text-indent: 10px;
    margin-left: 5px;
    flex-grow: 1; /* NEW: Added flex-grow to responsive rules */
  }
}